/* CSS BY Antonio Rodriguez Jr */
/* IMPORTED FONTS */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */

:root{
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;
}
/* GLOBAL STYLES (mobile first/small) */

body{
    font-family: 'Playfair Display', sans-serif;
    min-width: 320px;
    margin: 0 auto;
}


/* header styles */
header{
    background-color: var(--midnight-blue);
}

header img{
    display: block;
    margin: 0 auto;
    width: 18%;
}

header h1{
    color: var(--soft-white);
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

header p {
    color: var(--soft-white);
    font-style: italic;
    text-align: center;
    font-size: .95em;
    padding-bottom: 20px;
}

/* nav styles */

header nav {
    background-color: var(--champagne-gold);
}

nav a{
    text-decoration: none;
    font-family: 'Playfair Display', sans-serif;
    color: var(--dark-charcoal);
    font-weight: 800;
    font-size: 1.2em;
}

header nav > ul{
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 80px;
    padding: 10px 0;
}


/* main styles */
main {
    margin: 0 auto;
    background-color: var(--soft-white);
    padding: 17px;
}
/* welcome section styles */
#welcome > h2{
    color: var(--midnight-blue);
    font-size: 2em;
    padding: 25px 0px 5px 5px;
    margin: 0 auto;
}

#welcome > p{
    padding: 5px 0 25px 0;
    margin: 0 auto;
    line-height: 1.5;
    font-weight: 500;
  
}

#welcome{
    border-bottom: var(--champagne-gold) solid 2px;
}
/* offering section styles  */

#offerings > h2{
    color: var(--midnight-blue);
    font-size: 2em;
    padding-left: 3px;
    padding-top: 40px;
    padding-bottom: 20px;
}

#offerings{
    border-bottom: var(--champagne-gold) solid 2px;
}

/* provisions div styles  */

#provisions {
    border: var(--dark-charcoal) solid 1px;
    border-radius: 10px;
    background-color: var(--olive-green);
    padding: 15px;
    margin-bottom: 20px;
}
#provisions h3{
    color: var(--soft-white);
    font-size: 1.5em;
    padding-bottom: 5px;
}


#provisions p{
    color: var(--soft-white);
    line-height: 1.4;
    padding-right: 5px;
}

/* experience div styles */

#experience {
    border: var(--dark-charcoal) solid 1px;
    border-radius: 10px;
    background-color: var(--olive-green);
    padding: 15px;
    margin-bottom: 20px;
}
#experience h3{
    color: var(--soft-white);
    font-size: 1.5em;
    padding-bottom: 5px;
}


#experience p{
    color: var(--soft-white);
    line-height: 1.4;
    padding-right: 5px;
}

/* monthly div styles  */

#monthly {
    border: var(--dark-charcoal) solid 1px;
    border-radius: 10px;
    background-color: var(--olive-green);
    padding: 15px;
    margin-bottom: 20px;
    
}
#monthly h3{
    color: var(--soft-white);
    font-size: 1.5em;
    padding-bottom: 5px;
}

#monthly li {
    color: var(--soft-white);
    list-style-type: disc;
    line-height: 1.4;
    
    list-style-position: inside;
}

#monthly p{
    color: var(--soft-white);
    line-height: 1.4;
    padding-right: 5px;
}




#provisions, #experience, #monthly{
    box-shadow: 2px 2px 2px var(--dark-charcoal);
} 
/* gallery section styles  */

#gallery{
    margin: 0 auto;
    padding: 0;
}

#gallery > h2{
    color: var(--midnight-blue);
    font-size: 2em;
    padding-left: 3px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-weight: 500;
}
#gallery > p{
    line-height: 1.4;
    padding-bottom: 20px;
    font-weight: 500;
}

/* gallery div image styles  */
.boximg img{
    display: block;
    width: 95%;
}

.boximg p{
    background-color: var(--soft-white);
    
    border-bottom: var(--dark-charcoal) 1px solid;

    text-align: center;
    font-style: italic;
    font-weight: 500;
    width: 95%;
    margin-bottom: 15px;
    box-shadow: 1px 2px 2px var(--dark-charcoal);
    padding-top: 15px;
    padding-bottom: 15px;
}

.boximg img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.boximg p{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius:  5px; 
}

/* footer styles  */


/* MEDIA QUERY (medium) */
@media screen and (min-width: 600px){


}
/* MEDIA QUERY (large) */
@media screen and (min-width: 900px){

    
}
/* MEDIA QUERY (xl) */
@media screen and (min-width: 1200px){

    
}